<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../app/view/estilo/geral.css">
    <link rel="stylesheet" href="../app/view/estilo/cadastro.css">
    <link rel="stylesheet" href="../app/recursos/fontawesone/css/all.css">
</head>

<body>

<main class="form-container">

    <header class="form-header">
        <h1>Cadastre-se</h1>
        <i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>
    </header>

   <form id="cadastro-form" action="?user=denunciante" method="post">
        <div class="fields-group">
            <label class="form-field">
                <span>Primeiro Nome</span>
                <input type="text" value='teste' name="nome" placeholder="Nome" required>
                <i class="fa-solid fa-user" aria-hidden="true"></i>
            </label>
            
            <label class="form-field">
                <span>Último Nome</span>
                <input type="text" value="teste" name="sobrenome" placeholder="Sobrenome" required>
                <i class="fa-solid fa-user" aria-hidden="true"></i>
            </label>

            <label class="form-field">
                <span>E-mail</span>
                <input type="email" value="asd@gmail.com" name="email" placeholder="exemplo@gmail.com" required>
                <i class="fa-regular fa-envelope" aria-hidden="true"></i>
            </label>
            
            <label class="form-field">
                <span>CPF</span>
                <input type="text" value="12345678978" name="cpf" placeholder="123.123.456-14" required>
                <i class="fa-solid fa-user" aria-hidden="true"></i>
            </label>

            <label class="form-field">
                <span>Senha</span>
                <input type="password" value="asdasdasd" name="senha" placeholder="******" minlength="8" required>
                <i class="fa-solid fa-eye-slash" aria-hidden="true"></i>
            </label>

            <label class="form-field">
                <span>Confirmar Senha</span>
                <input type="password" value="asdasdasd" name="confirmar-senha" placeholder="******" minlength="8" required>
                <i class="fa-solid fa-eye-slash" aria-hidden="true"></i>
            </label>
        </div>

        <button type="submit" class="submit-btn">
            Criar conta
            <i class="fa-solid fa-check" aria-hidden="true"></i>
        </button>
    </form>

    <script src="..app/view/scripts/cadastro.js"></script>
</main>
</body>
</html>