<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/recursos/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/view/estilo/navbar.css">
    <link rel="stylesheet" href="app/view/estilo/geral.css">
    <link rel="stylesheet" href="app/view/estilo/imagem_tela_inicio.css">
    <link rel="stylesheet" href="app/view/estilo/cards_tela_inicio.css">
    <link rel="stylesheet" href="app/view/estilo/sobre_tela_inicio.css">
    
    <title>RelateSBC</title>
</head>
<body>
    
   <header class="navbar-header">
    <nav class="navbar">
        <a href="index.html" class="logo-link">
            <img src="app/recursos/imagens/logo-relatesbc.png" alt="RelateSBC" class="logo-relatesbc">
        </a>

        <ul class="tabela-de-links">
            <li class="nav-item active"><a href="#">Início</a></li>
            <li class="nav-item"><a href="#">Sobre</a></li>
            <li class="nav-item"><a href="#">Dicas</a></li>
        </ul>

        <div class="nav-actions">
            <button type="button" class="nav-btn nav-btn-secondary" id="btn-entrar">
                Entrar
            </button>
            <button type="button" class="nav-btn nav-btn-primary" id="btn-cadastro">
                Cadastre-se
            </button>
        </div>

        <div class="mobile-menu-icon">
            <button onclick="menuAbrir() "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">

            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg></i></button>
        </div>
    </nav>

    <!-- MENU MOBILE -->

        <div class="mobile-menu">
            <ul class="tabela-de-links">
                <li class="nav-item active"><a href="#">Início</a></li>
                <li class="nav-item"><a href="#">Sobre</a></li>
                <li class="nav-item"><a href="#">Dicas</a></li>
            </ul>

              <div class="nav-actions">
            <button type="button" class="nav-btn nav-btn-secondary" id="btn-entrar">
                Entrar
            </button>
            <button type="button" class="nav-btn nav-btn-primary" id="btn-cadastro">
                Cadastre-se
            </button>
        </div>
        </div>
</header>

    

    <!--Main: Conteúdo da pagina-->
    <main>
        <section>
        <div class="fundo-img"> <!--imagem de fundo-->
            <img src="app/recursos/imagens/background-index.jpg" alt="">
            <p class="tag-zeladoria">Zeladoria Urbana</p> <br>

            <h2 class="minha-denuncia">MINHA<br>
            <span class="denuncia-cor">DENÚNCIA</span></h2>

            <p-maior><strong>Incluindo a todos para um bem maior</strong></p>
            <p-menor>Cidade limpa, segura e organizada é dever de todos. Sua
                denúncia faz a diferença na nossa cidade.
            </p> 
        </div>

        <!--SEÇÃO CARDS-->
        <div class="secao-conteiner">

             <h2>O que você pode denunciar</h2> 

                <div class="conteiner-cards">
                    

                <div class="cards-tela-inicial">
                   <div class="icone-card" style="position: relative; width: 50px; height: 50px; min-width: 50px;">
        
                        <svg xmlns="http://w3.org" 
                            width="32" 
                            height="32" 
                            fill="currentColor" 
                            class="icone-lixeira" 
                            viewBox="0 0 16 16"
                            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>

                    </div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Lixo e Entulho</h3>
                        <p class="descricao-card">Descarte irregular de lixo, entulho e materiais.</p>
                    </div>
                </div>

                <div class="cards-tela-inicial">
                      <div class="icone-card" style="display: flex !important; justify-content: center !important; align-items: center !important;">
         
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            width="32" 
                            height="32" 
                            fill="currentColor" 
                            class="bi bi-lightbulb" 
                            viewBox="0 0 16 16">
                            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
                        </svg>

                    </div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Iluminação Pública</h3>
                        <p class="descricao-card">Lâmpadas queimadas ou postes com problemas.</p>
                    </div>
                </div>

                <div class="cards-tela-inicial">
                 <div class="icone-card" style="position: relative; width: 50px; height: 50px; min-width: 50px;">
         
                    <svg xmlns="http://www.w3.org/2000/svg" 
                        width="32" 
                        height="32" 
                        fill="currentColor" 
                        class="bi bi-exclamation-triangle" 
                        viewBox="0 0 16 16"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                    </svg>
                 </div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Buracos e Vias</h3>
                        <p class="descricao-card">Buracos, asfalto danificado e calçadas quebradas.</p>
                    </div>
                </div>

                <div class="cards-tela-inicial">
                    <div class="icone-card" style="position: relative; width: 50px; height: 50px; min-width: 50px;">
      
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            width="32" 
                            height="32" 
                            fill="currentColor" 
                            class="bi bi-tree" 
                            viewBox="0 0 16 16"
                            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507"/>
                        </svg>

                    </div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Áreas verdes</h3>
                        <p class="descricao-card">Problemas em praças, árvores, jardins e áreas de lazer.</p>
                    </div>
                </div>
             </div>
        </div>
        </section>
        
        <!--CONTEUDO SOBRE-->
       <div class="card-sobre-container">
           
            <div class="sobre-conteudo">
                <span class="tag-sobre">Sobre o RelateSBC</span>

                <h2 class="zelar-cuidar">
                    Zelar, cuidar e<br>
                    <span class="denuncia-cor">transformar</span><br>
                    nossa cidade
                </h2>

                <p class="texto-menor">
                    O RelateSBC nasceu para aproximar a população dos órgãos responsáveis,
                    tornando a comunicação mais eficiente e as soluções mais rápidas.
                </p>
            </div>

            <div class="sobre-imagem">
                <img src="app/recursos/imagens/celular-fundo04.jpg" alt="Pessoa a tirar foto a um buraco com o telemóvel">
            </div>
        </div>
        
        <hr style="margin-left: 200px; margin-right: 200px;">
<!-- 
        <div class="como-funciona">
          <h2>Como funciona?</h2>
          <p>É simples, facil, rapido e transparente</p> <br>  <br>
         
          <h3></h3>
          <div class="icone-como-funciona">
            <i class="bi bi-clipboard2-check"></i>
          </div><br>

           <div class="icone-como-funciona">
            <i class="bi bi-clipboard2-check"></i>
          </div><br>

           <div class="icone-como-funciona">
            <i class="bi bi-clipboard2-check"></i>
          </div>
        </div> -->
        
    </main>

     <footer class="bg-dark text-light">
  <div class="container pt-5">
    <div class="row">

      <div class="col-md-4 mb-4">
        <h5 style="font-weight: bold;">RelateSBC</h5>
        <p class="text-secondary small mb-2">
          Cidade limpa, segura e organizada é dever de todos: Sua denuncia faz diferença
        </p>
        <span class="small text-light" style="font-weight: bold; padding: 5px; border-radius: 15px; background-color: rgba(36, 129, 44, 0.5);">Denúncias públicas</span>
      </div>

      <div class="col-md-3">
        <h5 style="font-weight: bold;">Para você</h5>
        <ul class="list-unstyled">
          <li><a href="seleciona-login.html" class="link-light small">Ja tem uma conta?
          </a></li>
          <li><a href="selecionar-cadastro.html" class="link-light small">Cadastre-se</a></li>
        </ul>
      </div>

        <!-- Coloquei isso só para encher e ficar mais bonito, pq o modelo que eu segui tinha mais link  -->   

      <div class="col-md-3">
        <h5 style="font-weight: bold;">
          Denuncias
        </h5>
        <ul class="list-unstyled">
        <li>
          <a href="home-denunciante.html" class="link-light small">
            Home
          </a>
        </li>
        <li>
          <a href="home-denuncias.html" class="link-light small">
            Mural de denuncias
          </a>
        </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5 style="font-weight: bold;">
          Contato
        </h5>
        <ul class="list-unstyled">
        <li>
          <a href="#" class="link-light small">
            Fale Conosco
           
          </a>
        </li>
        </ul>
      </div>

    </div>
  </div>
         
   
  <hr>
    <div class="container py-3 d-flex flex-wrap justify-content-between gap-2">
      <span class="text-secondary small">
        ©2026 RelateSBC
      </span>
      <div class="d-flex gap-3">
        <a href="#" class="link-secondary small">
          Privacidade e termos de uso
        </a>
      </div>
    </div>
</footer>
    
  <script src="app/view/scripts/navbar.js"></script>
    
</body>
</html>