<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilo/navbar.css">
    <link rel="stylesheet" href="../estilo/geral.css">
    <link rel="stylesheet" href="../estilo/fundoimg.css">
    <link rel="stylesheet" href="../estilo/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>RelateSBC</title>
</head>
<body>
    
    <header>
        <!--Classe responsável pela navbar -->
        <nav class="navbar">
            <img src="../../recursos/imagens/logo-relatesbc.png" 
                 alt="Logo RelateSBC" class="logo-relatesbc" >

            <ul class="tabela-de-links">
                <li class="nav-link-efeito"> <a href="#home"></a>Início</li>           
                <li class="nav-link"> <a href="#sobre"></a>Sobre</li>
            </ul>

            <button class="nav-btn">
                Cadastre-se
            </button>
        </nav>
    </header>

    <!--Main: Conteúdo da pagina-->
    <main>
        <div class="fundo-img"> <!--imagem de fundo-->
            <img src="../../recursos/imagens/IMG-20260824-WA0023.jpg" alt="">
            <p class="tag-zeladoria">Zeladoria Urbana</p> <br>

            <h2>MINHA<br>
            <span class="denuncia-cor">DENÚNCIA</span></h2>

            <p-maior><strong>Incluindo a todos para um bem maior</strong></p>
            <p-menor>Cidade limpa, segura e organizada é dever de todos. Sua
                denúncia faz a diferença na nossa cidade.
            </p> 
        </div>

        <div class="secao-conteiner">

             <h2>O que você pode denunciar</h2> 

                <div class="conteiner-cards">
                    

                <div class="cards-tela-inicial">
                    <div class="icone-card">
                        <i class="bi bi-trash3-fill"></i>
                    </div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Lixo e Entulho</h3>
                        <p class="descricao-card">Descarte irregular de lixo, entulho e materiais.</p>
                    </div>
                </div>

                <div class="cards-tela-inicial">
                    <div class="icone-card"></div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Iluminação Pública</h3>
                        <p class="descricao-card">Lâmpadas queimadas ou postes com problemas.</p>
                    </div>
                </div>

                <div class="cards-tela-inicial">
                    <div class="icone-card"></div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Buracos e Vias</h3>
                        <p class="descricao-card">Buracos, asfalto danificado e calçadas quebradas.</p>
                    </div>
                </div>

                <div class="cards-tela-inicial">
                    <div class="icone-card"></div>

                    <div class="conteudo-card">
                        <h3 class="titulo-card">Áreas verdes</h3>
                        <p class="descricao-card">Problemas em praças, árvores, jardins e áreas de lazer.</p>
                    </div>
                </div>
             </div>
        </div>

   

        
        
    </main>
    
</body>
</html>