<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilo/navbar.css">
    <link rel="stylesheet" href="../estilo/geral.css">
    <link rel="stylesheet" href="../estilo/fundoimg.css">
    <title>RelateSBC</title>
</head>
<body>
    
    <header>
        <!--Classe responsável pela navbar -->
        <nav class="navbar">
            <img src="../../recursos/imagens/logo-relatesbc.png" 
                 alt="Logo RelateSBC" class="logo-relatesbc" >

            <ul class="tabela-de-links">
                <li class="nav-link-efeito"> <a href="#home"></a>Início</li>           
                <li class="nav-link"> <a href="#sobre"></a>Sobre</li>
            </ul>

            <button class="nav-btn">
                Cadastre-se
            </button>
        </nav>
    </header>

    <!--Imagem de fundo-->
    <div class="fundo-img">
    <img src="../../recursos/imagens/IMG-20260824-WA0023.jpg" alt="">
    <p class="tag-zeladoria">Zeladoria Urbana<p> <br>
    <h2>MINHA<br>
        <span class="denuncia-cor">DENÚNCIA</span></h2>
        <p-maior><strong>Incluindo a todos para um bem maior</strong></p>
            
        <p-menor>Cidade limpa, segura e organizada é dever de todos. Sua
            denúncia faz a diferença na nossa cidade.
        </p>
        
    </div>
    
</body>
</html>