<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - RelateSBC</title>
    <link rel="stylesheet" href="app/view/estilo/navbar.css">
    <link rel="stylesheet" href="app/view/estilo/geral.css">
    <link rel="stylesheet" href="app/view/estilo/login-img.css">
    <link rel="stylesheet" href="app/view/estilo/login-denunciante.css">
    <link rel="stylesheet" href="app/recursos/fontawesone/css/all.css">
    <link rel="stylesheet" href="app/recursos/bootstrap-5.3.8-dist/css/bootstrap.min.css">
</head>

<body>

        
   <header class="navbar-header">
    <nav class="navbar">
        <a href="./home" class="logo-link">
            <img src="app/recursos/imagens/logo-relatesbc.png" alt="RelateSBC" class="logo-relatesbc">
        </a>

        <ul class="tabela-de-links">
            <li class="nav-item active"><a href="#">Início</a></li>
            <li class="nav-item"><a href="#">Sobre</a></li>
            <li class="nav-item"><a href="#">Dicas</a></li>
        </ul>

        <div class="nav-actions">
            <a href="login" style="text-decoration: none;" class="nav-btn nav-btn-secondary" id="btn-entrar" role="button">
                Entrar
            </a>
            <a href="cadastro" style="text-decoration: none;" class="nav-btn nav-btn-primary" id="btn-cadastro" role="button">
                Cadastre-se
            </a>
        </div>

        <div class="mobile-menu-icon">
            <button onclick="menuAbrir() "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">

            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg></i></button>
        </div>
    </nav>

    <!-- MENU MOBILE -->

        <div class="mobile-menu">
            <ul class="tabela-de-links">
                <li class="nav-item active"><a href="#">Início</a></li>
                <li class="nav-item"><a href="#">Sobre</a></li>
                <li class="nav-item"><a href="#">Dicas</a></li>
            </ul>

            <div class="nav-actions">
              <a href="login" style="text-decoration: none;" class="nav-btn nav-btn-secondary" id="btn-entrar" role="button">
                  Entrar
              </a>
              <a href="cadastro" style="text-decoration: none;" class="nav-btn nav-btn-primary" id="btn-cadastro" role="button">
                  Cadastre-se
              </a>
            </div>
        </div>
  </header>

    
    <main class="container py-auto px-3 my-3" >
        <div class="row">
            <div class="col">
                <img class="w-100 h-100 rounded-4" src="app/recursos/imagens/img-teste-form.png" alt="">
            </div>
            <div class="col border border-1 border-success rounded-4 ">
                <header class="py-3">
                    <h1 class="display-2 text-center">Conecte-se</h1>
                    <h5 class="display-6 text-center">Cuide da sua cidade</h3>
                </header>
                <form id="form-login-main" class="py-5" >
                    <label class="form-label">Email</label>
                    <input name="email" value="teste@email.com" type="email" class="form-control">
                    
                    <label class="form-label">Senha</label>
                    <input name="senha" value="@Ts123456" type="password"  class="form-control">
                    
                    <label class="form-check-label">
                        <input name="lembrar" type="checkbox" class="form-check-input">
                        Lembrar
                    </label>
                    
                    <input type="submit" class="btn btn-outline-success d-block mt-3">
                </form>
                <footer class="py-5">
                    <p class="text-center"> Se você ainda não tem uma conta <a href="cadastro">clique aqui !!!</a></p>
                </footer>
            </div>
        </div>
    </main>



    <script src="app/view/scripts/login.js"></script>
    <script src="app/view/scripts/navbar.js"></script>
    <script src="app/recursos/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>