<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RelateSBC</title>
    <link rel="stylesheet" href="app/recursos/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/view/estilo/navbar.css">
    <link rel="stylesheet" href="app/view/estilo/index-valter-cores.css">
</head>
<body>

<header class="navbar-header">
    <nav class="navbar">
        <a href="index.html" class="logo-link">
            <img src="app/recursos/imagens/logo-relatesbc.png" alt="RelateSBC" class="logo-relatesbc">
        </a>

        <ul class="tabela-de-links">
            <li class="nav-item active"><a href="#">Início</a></li>
            <li class="nav-item"><a href="#">Sobre</a></li>
            <li class="nav-item"><a href="#">Dicas</a></li>
        </ul>

        <div class="nav-actions">
            <button type="button" class="nav-btn nav-btn-secondary" id="btn-entrar">
                Entrar
            </button>
            <button type="button" class="nav-btn nav-btn-primary" id="btn-cadastro">
                Cadastre-se
            </button>
        </div>

        <div class="mobile-menu-icon">
            <button onclick="menuAbrir() "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">

            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg></i></button>
        </div>
    </nav>

    <!-- MENU MOBILE -->

        <div class="mobile-menu">
            <ul class="tabela-de-links">
                <li class="nav-item active"><a href="#">Início</a></li>
                <li class="nav-item"><a href="#">Sobre</a></li>
                <li class="nav-item"><a href="#">Dicas</a></li>
            </ul>

              <div class="nav-actions">
            <button type="button" class="nav-btn nav-btn-secondary" id="btn-entrar">
                Entrar
            </button>
            <button type="button" class="nav-btn nav-btn-primary" id="btn-cadastro">
                Cadastre-se
            </button>
        </div>
        </div>
</header>


<main class="container py-4">
  <div class="card shadow border p-4">

    <h2 class="fw-bold mb-4">Perfil</h2>

    <div class="d-flex flex-wrap mb-4 gap-3">
      <div class="d-flex align-items-center gap-3">
        <!-- não sei pelo que trocar o tamanho da imagem, ent vou deixar assim por enquanto -->
        <span class="d-flex rounded-circle bg-secondary" style="width: 64px; height: 64px;">
          <img src="" alt="">
        </span>
        <div>
          <div class="d-flex gap-2">
            <span class="fs-5 fw-bold">Felipe Rodrigo</span>
            <span class="badge text-light rounded-pill border border-success" style="background-color: rgb(64, 146, 71);">MUNÍCIPE</span>
          </div>
          <div class="text-muted small">Sitio bom Jesus/Bairro dos casa.</div>
        </div>
      </div>

      <div class="d-flex align-items-center gap-4">
        <div class="form-check mb-0">
          <input type="checkbox"> <!-- ativa e desaticva modo escuro, deixo para quem quiser fazer ai-->
          <label for="modoEscuro">Modo Escuro</label>
        </div>
        <a href="#" class="link-dark text-decoration-none">
          &#9998; Editar Perfil
        </a>
        <button type="button" class="btn btn-success fw-bold">
          CRIAR NOVA DENÚNCIA
        </button>
      </div>
    </div>

    <hr>

    <div class="row mb-4">
      <div class="col-md-4">
        <label class="fw-semibold small">Filtros</label>
        <input type="text" class="form-control" placeholder="Buscar denúncia...">
      </div>
      <div class="col-md-5">
        <label class="fw-semibold small">Categorias</label>
        <div class="d-flex gap-2">
          <select class="form-select">
            <option>Buracos</option>
            <option>Iluminação</option>
            <option>Lixo</option>
          </select>
          <button type="button" class="btn btn-outline-secondary">Iluminação</button>
          <button type="button" class="btn btn-outline-secondary">Lixo</button>
        </div>
      </div>
      <div class="col-md-3">
        <label class="fw-semibold small">Ordem por:</label>
        <div class="d-flex gap-2">
          <select class="form-select">
            <option class="bg-dark">Data</option>
          </select>
          <select class="form-select">
            <option>Status</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Lista de denúncias -->
    <ul class="list-group d-flex">

      <li class="list-group-item d-flex flex-wrap align-items-center py-3">
        <div>
          <div class="fw-semibold">Buraco na Rua</div>
          <div class="text-muted small">Buraco profundo perigoso</div>
        </div>
        <div class="text-muted small text-center" style="min-width:150px;">R. Braz, nº 67</div>
        <div class="text-center" style="min-width:140px;">
          <span class="badge bg-success rounded-pill">CONCLUÍDA</span>
          <span class=" badge bg-warning rounded-pill">EM ANDAMENTO</span>
          <span class="badge bg-primary rounded-pill">EM ANÁLISE</span>
          <span class="badge bg-danger rounded-pill ">PENDENTE</span>


        </div>
        <div class="text-muted small text-center" style="min-width:90px;">21/02/2009</div>
        <div class="d-flex gap-3">
          <button class="btn btn-outline-secondary btn-sm">EDITAR</button>
          <button class="btn btn-outline-danger btn-sm">REMOVER</button>
        </div>
      </li>
    </ul>

  </div>
</main>

<footer class="bg-dark text-light">
  <div class="container pt-5">
    <div class="row">

      <div class="col-md-4 mb-4">
        <h5 style="font-weight: bold;">RelateSBC</h5>
        <p class="text-secondary small mb-2">
          Cidade limpa, segura e organizada é dever de todos: Sua denuncia faz diferença
        </p>
        <span class="small text-light" style="font-weight: bold; padding: 5px; border-radius: 15px; background-color: rgba(36, 129, 44, 0.5);">Denúncias públicas</span>
      </div>

      <div class="col-md-3">
        <h5 style="font-weight: bold;">Para você</h5>
        <ul class="list-unstyled">
          <li><a href="seleciona-login.html" class="link-light small">Ja tem uma conta?
          </a></li>
          <li><a href="selecionar-cadastro.html" class="link-light small">Cadastre-se</a></li>
        </ul>
      </div>   

      <div class="col-md-3">
        <h5 style="font-weight: bold;">
          Denuncias
        </h5>
        <ul class="list-unstyled">
        <li>
          <a href="index.html" class="link-light small">
            Home
          </a>
        </li>
        <li>
          <a href="home-denuncias.html" class="link-light small">
            Mural de denuncias
          </a>
        </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5 style="font-weight: bold;">
          Contato
        </h5>
        <ul class="list-unstyled">
        <li>
          <a href="#" class="link-light small">
            Fale Conosco
           
          </a>
        </li>
        </ul>
      </div>

    </div>
  </div>
         
   
  <hr>
    <div class="container py-3 d-flex flex-wrap justify-content-between gap-2">
      <span class="text-secondary small">
        ©2026 RelateSBC
      </span>
      <div class="d-flex gap-3">
        <a href="#" class="link-secondary small">
          Privacidade e termos de uso
        </a>
      </div>
    </div>
</footer>
    
</body>
</html>