<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/recursos/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/view/estilo/navbar.css">
    <link rel="stylesheet" href="app/view/estilo/geral.css">
    <link rel="stylesheet" href="app/view/estilo/imagem_tela_inicio.css">
    <link rel="stylesheet" href="app/view/estilo/cards_tela_inicio.css">
    <link rel="stylesheet" href="app/view/estilo/sobre_tela_inicio.css">
    <link rel="stylesheet" href="app/view/estilo/selecionar-cadastro.css">
    
    <title>RelateSBC</title>
</head>
<body>
    
   <header class="navbar-header">
    <nav class="navbar mx-auto">
        <a href="./home" class="logo-link mx-auto">
            <img src="app/recursos/imagens/logo-relatesbc.png" alt="RelateSBC" class="logo-relatesbc">
        </a>

        <ul class="tabela-de-links mx-auto">
            <li class="nav-item active"><a href="#">Início</a></li>
            <li class="nav-item"><a href="#">Sobre</a></li>
            <li class="nav-item"><a href="#">Dicas</a></li>
        </ul>

        <div class="nav-actions mx-auto">
            <button type="button" class="nav-btn nav-btn-secondary" id="btn-entrar">
                Entrar
            </button>
            <button type="button" class="nav-btn nav-btn-primary" id="btn-cadastro">
                Cadastre-se
            </button>
        </div>

        <div class="mobile-menu-icon">
            <button onclick="menuAbrir() "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">

            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg></i></button>
        </div>
    </nav>

    <!-- MENU MOBILE -->

        <div class="mobile-menu">
            <ul class="tabela-de-links">
                <li class="nav-item active"><a href="#">Início</a></li>
                <li class="nav-item"><a href="#">Sobre</a></li>
                <li class="nav-item"><a href="#">Dicas</a></li>
            </ul>

              <div class="nav-actions">
            <button type="button" class="nav-btn nav-btn-secondary" id="btn-entrar">
                Entrar
            </button>
            <button type="button" class="nav-btn nav-btn-primary" id="btn-cadastro">
                Cadastre-se
            </button>
        </div>
        </div>
  </header>
  <main class="py-1">
        <div class="escolha-perfil">
            <h2 class="texto-escolha">Escolha o seu perfil:</h2>

           <div class="secao-card-escolha">

                <div class="card-escolha ">
                    <div class="circulo-denunciante">

                    </div>
                    <h2 class="tipo-escolha-d">Denunciante</h2>
                    <p class="descricao-escolha">Cadastre-se para realizar denuncias e ficar por dentro dos problemas em sua cidade</p>
                     <a href="cadastro/municipe" class="btn-municipe">Cadastre-se</a>
                </div>

                <div class="card-escolha">
                    <div class="circulo-representante">
                        
                    </div>
                    <h2 class="tipo-escolha-r">Representante</h2>
                    <p class="descricao-escolha">Cadastre-se para responder a reclamações e ficar por dentro dos problemas ocorridos</p>
                    <a href="cadastro/representante" class="btn-representante">Cadastre-se</a>

                </div>
            </div>
            <div class="texto-login-cadastro">
                <p>Já tem uma conta? <a href="login">Entrar</a></p>
            </div>
        </div>
  </main>

  
     <footer class="bg-dark text-light">
  <div class="container pt-5">
    <div class="row">

      <div class="col-md-4 mb-4">
        <h5 style="font-weight: bold;">RelateSBC</h5>
        <p class="text-secondary small mb-2">
          Cidade limpa, segura e organizada é dever de todos: Sua denuncia faz diferença
        </p>
        <span class="small text-light" style="font-weight: bold; padding: 5px; border-radius: 15px; background-color: rgba(36, 129, 44, 0.5);">Denúncias públicas</span>
      </div>

      <div class="col-md-3">
        <h5 style="font-weight: bold;">Para você</h5>
        <ul class="list-unstyled">
          <li><a href="login" class="link-light small">Ja tem uma conta?
          </a></li>
          <li><a href="cadastro" class="link-light small">Cadastre-se</a></li>
        </ul>
      </div>

        <!-- Coloquei isso só para encher e ficar mais bonito, pq o modelo que eu segui tinha mais link  -->   

      <div class="col-md-3">
        <h5 style="font-weight: bold;">
          Denuncias
        </h5>
        <ul class="list-unstyled">
        <li>
          <a href="home" class="link-light small">
            Home
          </a>
        </li>
        <li>
          <a href="denuncias" class="link-light small">
            Mural de denuncias
          </a>
        </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5 style="font-weight: bold;">
          Contato
        </h5>
        <ul class="list-unstyled">
        <li>
          <a href="#" class="link-light small">
            Fale Conosco
           
          </a>
        </li>
        </ul>
      </div>

    </div>
  </div>
         
   
  <hr>
    <div class="container py-3 d-flex flex-wrap justify-content-between gap-2">
      <span class="text-secondary small">
        ©2026 RelateSBC
      </span>
      <div class="d-flex gap-3">
        <a href="#" class="link-secondary small">
          Privacidade e termos de uso
        </a>
      </div>
    </div>
</footer>
</body>
    
  <script src="app/view/scripts/navbar.js"></script>
</html>
