<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha o tipo de Login - RelateSBC</title>
    <link rel="stylesheet" href="app/view/estilo/selecionar-perfil.css">
    <link rel="stylesheet" href="app/recursos/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/recursos/fontawesone/css/all.css">
    <link rel="stylesheet" href="app/view/estilo/navbar.css">
   
</head>
<body class="bg-light d-flex flex-column min-vh-100">

    <header class="navbar-header w-100">
        <nav class="navbar d-flex justify-content-between align-items-center">
            <a href="index.html" class="logo-link">
                <img src="app/recursos/imagens/logo-relatesbc.png" alt="RelateSBC" class="logo-relatesbc">
            </a>

        </nav>
    </header>


    <div class="container text-center">
        <h2 class="fw-bold mb-4 text-dark fs-3">Escolha o seu perfil:</h2>

        <div class="row g-4 justify-content-center max-w-card">
            
            <!-- CARD CONSUMIDOR / CIDADÃO -->
            <div class="col-md-6">
                <div class="card h-100 border-0 shadow-sm rounded-4 p-4 d-flex flex-column align-items-center">
                    <div class="icon-circle bg-green-light mb-3">
                        <i class="fa-solid fa-user text-green fs-1"></i>
                    </div>
                    <h3 class="fw-bold text-green fs-4 mb-2">Consumidor</h3>
                    <p class="text-muted fs-6 mb-4 px-2">
                        Quero reclamar de uma empresa e acompanhar minhas reclamações.
                    </p>
                    <a href="login-denunciante.html" class="btn btn-green w-100 py-2.5 fw-semibold mt-auto">
                        Acessar área do consumidor
                    </a>
                </div>
            </div>

            <!-- CARD EMPRESA -->
            <div class="col-md-6">
                <div class="card h-100 border-0 shadow-sm rounded-4 p-4 d-flex flex-column align-items-center">
                    <div class="icon-circle bg-blue-light mb-3">
                        <i class="fa-solid fa-store text-blue fs-1"></i>
                    </div>
                    <h3 class="fw-bold text-blue fs-4 mb-2">Empresa</h3>
                    <p class="text-muted fs-6 mb-4 px-2">
                        Quero responder reclamações e trabalhar a reputação da minha marca.
                    </p>
                    <a href="login-empresa.html" class="btn btn-blue w-100 py-2.5 fw-semibold mt-auto">
                        Acessar área da empresa
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>