
/*TAGS DE CADA PAGINA*/
.tag-zeladoria {
    position: absolute;
    top: 50px;
    left: 110px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    background-color: rgba(36, 129, 44, 0.5); ;
    border-radius: 11px;
    padding: 3px 6px ;
    font-weight: bold;
}

.tag-sobre {
    position: absolute;
    top: 800px;
    left: 110px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    background-color: rgba(36, 129, 44, 0.5); ;
    border-radius: 11px;
    padding: 3px 6px ;
    font-weight: bold;
}