
/*CONFIGURAÇÕES DA NAVBAR*/
header{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a321b;
    padding: 0.70% 2%;
    box-sizing: border-box;
}

.logo-relatesbc {
    height: auto;
    width: 17%;
    margin-left: 13.5%;
    margin-right: -27.5%;
}

/*Guarda links que levam a outras paginas*/
.tabela-de-links {
    display: flex;
    list-style: none;
    gap: 30%;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 22px;
}

.nav-link-efeito{
    color: white;
    border-bottom: 3px solid #f4f4f4;
    font-size: 22px;
}

.nav-btn{
    border: none;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 45px;
    font-size: 23px;
    font-weight: 600;
    margin-right: 18.5%;
    background-color: #24812c;
    color: rgba(255, 255, 255, 0.788);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}